fastapi
uvicorn
alembic
arize-phoenix
arxiv
bcrypt
llama-index
llama-index-core
llama-index-callbacks-arize-phoenix
llama-index-vector-stores-qdrant
llama-index-llms-ollama
llama-index-embeddings-huggingface
sentence-transformers
openai
opentelemetry-api
passlib
psycopg
pydantic
pydantic-settings
pypdf2
python-dateutil
python-dotenv
python-multipart
qdrant-client
sqlmodel
